html {
  position: relative;
  min-height: 100%;
}

body {
  // TODO set class with Javacript
  background-color: @color-shade-white;
  background: linear-gradient(rgba(@color-primary-light, 0.25),
  rgba(@color-primary-dark, 0.25)),
  url('../images/backgrounds/bg_1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  //overflow: hidden !important;
}

.nav {
  height: @nav-height;
  position: absolute;
  left: 0;
  right: 0;
  top:0;

  &__item {
	a {
	  width: 50px;
	  height: 50px;
	  display: block;
	  box-shadow: 1px 1px black;
	  border-radius: 5px;

	  &:hover {
		text-decoration: none;
	  }

	  i {
		color: @color-primary-light;
		background: @color-secondary-normal;
		border-radius: 5px;
		padding: 2px;

		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	}

	&:hover {
	  i {
		background: lighten(@color-secondary-normal, 10%);
	  }
	}
  }
}

.main {
  font-family: @font-family-philosopher-regular, sans-serif;
  min-height: ~"calc(100vh - @{nav-height})";
  padding-top: @nav-height;

  .welcome-message {
	position: absolute;
	left: 0;
	right: 0;
	top: @welcome-message-offset-top;
	height: @welcome-message-height;
	font-size: 1.25rem;
	p {
	  margin-bottom: 0.5rem;
	}
  }



  .gift-list-link,
  .home-link {
	position: absolute;
	top: -5px;
	padding: 15px 15px 5px 10px;
	background-color: rgba(0, 0, 0, 0.45);
	border-radius: 5px;
	color: darkgoldenrod;

	a {
	  > i {
		font-size: (@font-size-md + 0.6);
	  }

	  font-size: @font-size-md;
	  color: darkgoldenrod;
	  text-shadow: @text-shadow;

	  &:hover {
		text-decoration: none;
		color: goldenrod;
	  }
	}
  }

  .gift-list-link {
	right: 0;
  }

  .home-link {
	left: 0;

  }
}
