.main--giftlists {
  &__item {
	a {
	  display: block;
	  width: 100%;
	  max-width: 350px;
	  color: @color-secondary-normal;
	  font-size: @font-size-md;
	  line-height: @font-size-md * 2;
	  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	  border-radius: 50px;
	  background-color: rgba(0, 0, 0, 0);

	  &:hover {
		text-decoration: none;
		color: lighten(@color-primary-light, 15%);
		background-color: @color-secondary-normal;
	  }
	}
  }
}
