.main--home {

  .tile {
	@media screen and (min-width: @screen-sm-minwidth) {
	  padding: 0 3rem !important;
	}
	@media screen and (min-width: @screen-md-minwidth) {
	  padding: 0 4rem !important;
	}
	@media screen and (min-width: @screen-lg-minwidth) {
	  padding: 0 5rem !important;
	}

	&:hover {
	  i {
		color: lighten(@color-secondary-normal, 10%);
	  }

	  .tile__text {
		color: lighten(@color-secondary-normal, 10%);
	  }
	}

	&__link {
	  height: 150px;

	  &:hover {
		text-decoration: none;
	  }

	  i {
		color: @color-secondary-normal;
		text-shadow: 1px 1px black;
	  }

	  .fa-dice {
		font-size: 7.5em;
	  }
	}

	&__text {
	  color: @color-secondary-normal;
	  font-size: 2em;
	  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	}
  }
}
